body {
  min-width: 320px;
  background-color: $background-main;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  color: $font-color;
  // letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.5;

}
body.modal-open {
  overflow: hidden;
  max-height: 100vh;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include breakpoint(mobile) {
    width: $mobile;
  }

  @include breakpoint(tablet) {
    width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include breakpoint(desktop) {
    width: $desktop;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 98px;
  height: 32px;

  background-color: $button-green;
  font: inherit;

  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus{
        background-color: $button-green-hover;
    }
}
