$main-yellow: #ffe550;
$button-green: #bbf330;
$button-green-hover:#B5FF00;
$background-main: #fefefe;
$font-color: #2c2c2c;
$header-footer-bg-color: #FEFEFE;

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
