<footer class="footer">
    <div class="footer__nav container">
        <div class="nav">
            <include src="./partials/logo.html"></include>
            <nav class="nav__menu">
                <ul class="nav-list">
                    <li class="nav-list__item"><a href="#home">Home</a></li>
                    <li class="nav-list__item"><a href="#about">About</a></li>
                    <li class="nav-list__item"><a href="#service">Service</a></li>
                    <li class="nav-list__item"><a href="#menu">Menu</a></li>
                    <li class="nav-list__item"><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="subscribe">
            <form class="subscribe-form">
            <p class="subscribe-form__item">Subscribe</p>
            <label class="subscribe-form__box">
                <input
                class="subscribe-form__input"
                type="email"
                name="subscribe"
                placeholder="Enter your e-mail"
                />
                <button class="subscribe-form__button" type="submit">Subscribe</button>
            </label>
            <p class="subscribe-form__policy">
                By subscribing you agree to with our <a href="">Privacy Policy</a>
            </p>
            </form>
        </div>
    <div class="footer__info">
        <ul class="info-list">
            <li class="info-list__item"><a href="">Privacy Policy</a></li>
            <li class="info-list__item"><a href="">Terms of Service</a></li>
            <li class="info-list__item"><a href="">Cookies Settings</a></li>
        </ul>
        <p class="copyright">2022 FoodSta. All right reserved.</p>
    </div>
</footer>