<header class="header" id="home">
  <div class="header__container container">
    <include src="./partials/logo.html"></include>
    <div class="nav__wrapper js-menu-container">
      <include src="./partials/navigation.html"></include>
      <button type="button" class="button" data-modal-open>Order now</button>
      <button type="button" class="button-menu-close js-close-menu">
        <svg class="burger-menu" width="11" height="11">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <button type="button" class="button-menu js-open-menu">
      <svg class="burger-menu" width="28" height="28">
        <use href="./images/sprite.svg#icon-gg_menu"></use>
      </svg>
    </button>
  </div>
</header>
