<div class="backdrop is-hidden" data-modal>
	<div class="modal-window">
		<button type="button" class="modal__close-btn" data-modal-close>
			<svg class="modal__close-svg" height="11" width="11">
				<use href="./images/sprite.svg#icon-cross"></use>
			</svg>
		</button>
		<form class="modal__form-field">
			<strong class="modal__title">Order form</strong>
			<label for="useName" class="modal__form-field-label">Name</label>
			<input type="text" id="useName" name="userName" class="modal__form-input" required placeholder="Your name">
			<label for="usePhone" class="modal__form-field-label">Phone number</label>
			<input type="tel" id="usePhone" name="userPhone" class="modal__form-input" required
				placeholder="+38(0_ _) _ _ _   _ _   _ _">
			<label for="useEmail" class="modal__form-field-label">E-mail</label>
			<input type="mail" id="useEmail" name="userMail" class="modal__form-input" required
				placeholder="example@gmail.com">
			<button type="submit" class="modal__send-btn">Send</button>
		</form>
	</div>
</div>