<section class="section-subscribe">
  <div class="subscribe-container">

    <div class="subscribe-img">
      <picture class="subscribe-img__picture">
        <source srcset="
                                                      ./images/subscribe/banana-desk-1x.jpg 1x,
                                                        ./images/subscribe/banana-desk-2x.jpg 2x
                                                      " media="(min-width: 1200px)">

        <source srcset="
                                                        ./images/subscribe/banana-tab-1x.jpg 1x,
                                                        ./images/subscribe/banana-tab-2x.jpg 2x
                                                      " media="(min-width: 768px)">
        <source srcset="
                                                       ./images/subscribe/banana-mob-1x.jpg 1x,
                                                       ./images/subscribe/banana-mob-2x.jpg 2x
                                                    " media="(max-width: 767px)">
        <img src="./images/subscribe/banana-desk-1x.jpg" alt="banana" />
      </picture>
    </div>

    <div class="content">
      <div class="subscribe-head">
        <h2 class="subscribe-head__title">Subscribe To Get Special Offers</h2>
        <p class="subscribe-head__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
          in eros elementum tristique.</p>
      </div>


      <div class="subscribe">
        <form class="subscribe-form">

          <label class="subscribe-form__box">
            <input class="subscribe-form__input" type="email" name="subscribe" placeholder="Enter your e-mail" />
            <div class="subscribe-form__btn">
              <button class="subscribe-form__button" type="submit">Subscribe</button>
            </div>
          </label>

        </form>
      </div>
    </div>

  </div>
</section>