.header {
  background-color: $header-footer-bg-color;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

  &__container {
    position: relative;
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
  }

  .nav__wrapper {
    display: block;

    & .button {
      display: none;
  
      @include breakpoint(tablet) {
        display: block;
      }
    }  

    @media screen and (max-width: 767px) {
      position: absolute;
      top: 50px;
      right: 20px;
      width: 130px;
      height: 255px;
      background: $header-footer-bg-color;
      box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
      border-radius: 30px 0px 30px 30px;
      z-index: 999;
      overflow: hidden;
      display: none;
  
      &.is-open {
        transform: translateX(0);
        visibility: visible;
        display: block;
      }
    }

    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
    }
  }
}

.button-menu,
.button-menu-close {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include breakpoint(tablet) {
    display: none;
  }
}

.button-menu-close {
  position: absolute;
  top: 11px;
  right: 11px;
}