.header {
  background-color: $header-footer-bg-color;

  &__container {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
  }

  .nav__menu {
    display: none;

    @include breakpoint(tablet) {
      display: inline-block;
    }
  }

  .nav__wrapper {
    display: none;

    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
    }
  }

  .nav-list {
    display: flex;

    @include breakpoint(tablet) {
      margin-right: 30px;
    }

    &__item:not(:last-child) {
      margin-right: 28px;
    }

    &__link {
      color: $font-color;
      font-size: 14px;
      line-height: 1.14;
      padding: 28px 0;
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
      color: $button-green;
      text-decoration: underline; 
    }
  }
}

.button-menu {
  background-color: transparent;
  width: 28px;
  height: 28px;

  @include breakpoint(tablet) {
    display: none;
  }
}
