.hero {
  padding-top: 60px;
  padding-bottom: 50px;

  // @media screen and (max-width: 767px) {
  //   padding-top: 60px;
  //   padding-bottom: 50px;
  // }

  @include breakpoint(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
  }

  // .hero__wrapper {
  //   @media screen and (max-width: 767px) {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //   }
  // }
}
.hero__title {
  margin-bottom: 28px;

  font-family: 'Roboto';
  text-align: start;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  @media screen and (max-width: 767px) {
    max-width: 280px;
  }
  @include breakpoint(tablet) {
    font-size: 42px;
    line-height: 1.2;
  }

  @include breakpoint(desktop) {
    font-size: 48px;
    line-height: 1.2;
    width: 502px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin-bottom: 44px;
    width: 537px;
  }
}

.hero__text {
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 1.5;
  @media screen and (max-width: 767px) {
    margin-bottom: 28px;
    font-size: 14px;
    width: 266px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 336px;
  }

  @media screen and (min-width: $desktop) {
    height: 69px;
    width: 502px;
  }
}

.hero__button {
  transition: background-color $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: #b5ff00;
  }

  // @media screen and (max-width: 767px) {
  //   align-self: flex-start;
  // }
}

.hero__slider {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    display: flex;
    margin-left: 372px;
    margin-top: -232px;
  }
}

.slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;

  background-image: url(/src/images/hero/yellow-border320.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include breakpoint(desktop) {
    width: 580px;
    height: 580px;

    background-image: url(/src/images/hero/yellow-border580.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.slider__control {
  border: none;
  background-color: $background-main;
  width: 28px;
  height: 34px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  &:hover svg {
    fill: #7eb101;
  }
  &:focus svg {
    fill: #7eb101;
  }

  @include breakpoint(desktop) {
    width: 40px;
    height: 48px;
  }
}

.slider__svg {
  fill: currentColor;

  transition: fill $transition-duration $timing-function;
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 12px;
    height: 21px;
  }
}
