.hero {
  padding-top: 60px;

  @media screen and (max-width: 767px) {
    padding-bottom: 50px;
  }

  @include breakpoint(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .hero__wrapper {
    @media screen and (max-width: 767px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.hero__title {
  margin-bottom: 28px;
  font-family: 'Roboto';
  text-align: start;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  @media screen and (max-width: 767px) {
    min-width: 280px;
  }

  @include breakpoint(tablet) {
    font-size: 42px;
    line-height: 1.2;
  }

  @include breakpoint(desktop) {
    font-size: 48px;
    line-height: 1.2;
    width: 502px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin-bottom: 44px;
    width: 537px;
  }
}

.hero__text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;

  @media screen and (max-width: 767px) {
    margin-bottom: 28px;
    font-size: 14px;
    min-width: 266px;
    padding-right: 14px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 336px;
  }

  @media screen and (min-width: $desktop) {
    height: 69px;
    width: 502px;
  }
}

.hero__slider {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    display: flex;
    margin-left: 372px;
    margin-top: -232px;
  }
}

.slider__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;
  background-image: url(/src/images/hero/yellow-border320.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include breakpoint(desktop) {
    width: 580px;
    height: 580px;
    background-image: url(/src/images/hero/yellow-border580.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.slider__control {
  border: none;
  background-color: $background-main;
  width: 34px;
  height: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  cursor: pointer;
  &:hover svg {
    fill: #7EB101;
  }

  &:focus svg {
    fill: #7EB101;
  }

  @include breakpoint(desktop) {
    width: 48px;
    height: 40px;
  }
}

.slider__svg {
  display: block;
  fill: currentColor;
  transition: fill $transition-duration $timing-function;

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 12px;
    height: 21px;
  }
}

.slider__control--prev {
  position: absolute;
  top: 50%;
  right: 92%;
  transform: translateY(-50%);

  @include breakpoint(desktop) {
    right: 94%;
  }
}

.slider__svg--prev {
  margin-left: 9px;

  @include breakpoint(desktop) {
    margin-left: 13px;
  }
}

.slider__control--next {
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translateY(-50%);

  @include breakpoint(desktop) {
    left: 94%;
  }
}

.slider__svg--next {
  margin-left: 13px;

  @include breakpoint(desktop) {
    margin-left: 18px;
  }
}

.slider__picture {
  width: 292px;

  @include breakpoint(desktop) {
    width: 528px;
  }
}
