.section-offerings {
    width: 100%;
    height: 1050px;
    padding-top: 41px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    background-image: url(../images/offerings/bgofferingsmob.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/offerings/bgofferingsmob@2x.png);
    }


    @include breakpoint(tablet) {
        height: 1140px;
        margin-top: -108px;
        padding-top: 150px;
        padding-bottom: 100px;
        background-image: url(../images/offerings/bgofferingstablet.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/offerings/bgofferingstablet@2x.png);
        }
    }

    @include breakpoint(desktop) {
        height: 824px;
        margin-top: -153px;
        padding-top: 177px;
        padding-bottom: 43px;
        background-image: url(../images/offerings/bgofferingsdesctop.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/offerings/bgofferingsdesctop@2x.png);
        }
    }
}

.offerings {

    @include breakpoint(desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__img {
        width: 100%;
        height: 309px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;

        @include breakpoint(tablet) {
            height: 394px;
            width: 704px;
            justify-content: start;

        }

        @include breakpoint(desktop) {
            width: 550px;
            height: 604px;
            justify-content: start;
            margin: 0 90px 0 0;

        }
    }

    &__picture {
        display: block;
        width: 280px;

        @include breakpoint(tablet) {
            width: 704px;

        }

        @include breakpoint(desktop) {
            width: 550px;
        }

    }

    &__image {
        // display: block;
        width: 100%;

    }

    &__source {
        display: block;
        width: 100%;

    }

}



.offerings-descr {
    width: 100%;


    @include breakpoint(tablet) {
        width: 620px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
    }

    @include breakpoint(desktop) {
        width: 573px;
        margin: 83px 51px 0 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
    }

    &__title {
        margin: 0 0 28px 0;
        font-size: 28px;
        line-height: 1.18;
        text-align: start;
        max-width: none;

        @include breakpoint(tablet) {
            margin: 0 0 20px 0;
            max-width: 526px;
            font-size: 42px;
            line-height: 1.17;


        }
    }

    &__subtitle {
        margin: 0 0 28px 0;
        text-align: start;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        color: $font-color;
        font-weight: 400;


        @include breakpoint(tablet) {
            max-width: 522px;
            font-size: 16px;
            line-height: 1.18;
            margin-bottom: 40px;

        }
    }

    &__list {
        width: 100%;
        text-align: start;
        margin: 0 0 28px 0;

        @include breakpoint(tablet) {
            width: 620px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;

            :not(:last-child) {
                margin: 0 116px 0 0;
            }

        }

        @include breakpoint(desktop) {
            margin-bottom: 32px;

            :not(:last-child) {
                margin: 0 67px 0 0;
            }

        }


    }

    &__item {
        width: 100%;

        &--delivery {
            @media screen and (max-width: 768px) {
                margin-bottom: 28px;
            }

        }

        &--delivery::before {
            content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='48' width='48'><circle cx='24' cy='24' r='24' fill='white' /><path d='M14.2333 21.6334L17.7667 23.1334C18.1667 22.3334 18.5944 21.5445 19.05 20.7667C19.5056 19.9889 19.9889 19.2445 20.5 18.5334L17.8667 18L14.2333 21.6334ZM19.3667 24.3334L23.8 28.7667C25.0667 28.1889 26.2556 27.5334 27.3667 26.8C28.4778 26.0667 29.3778 25.3556 30.0667 24.6667C31.8667 22.8667 33.1889 21.0223 34.0333 19.1334C34.8778 17.2445 35.3333 15.1111 35.4 12.7334C33.0222 12.8 30.8889 13.2556 29 14.1C27.1111 14.9445 25.2667 16.2667 23.4667 18.0667C22.7778 18.7556 22.0667 19.6556 21.3333 20.7667C20.6 21.8778 19.9444 23.0667 19.3667 24.3334ZM27 21.1334C26.5556 20.6889 26.3333 20.1389 26.3333 19.4834C26.3333 18.8278 26.5556 18.2778 27 17.8334C27.4444 17.3889 27.9944 17.1667 28.65 17.1667C29.3056 17.1667 29.8556 17.3889 30.3 17.8334C30.7444 18.2778 30.9667 18.8278 30.9667 19.4834C30.9667 20.1389 30.7444 20.6889 30.3 21.1334C29.8556 21.5778 29.3056 21.8 28.65 21.8C27.9944 21.8 27.4444 21.5778 27 21.1334ZM26.5 33.9L30.1333 30.2667L29.6 27.6334C28.8889 28.1445 28.1444 28.6278 27.3667 29.0834C26.5889 29.5389 25.8 29.9667 25 30.3667L26.5 33.9ZM37.3667 10.7667C37.5667 13.7889 37.1889 16.5445 36.2333 19.0334C35.2778 21.5223 33.7 23.8667 31.5 26.0667L31.4333 26.1334L31.3667 26.2L32.1 29.8667C32.1667 30.2 32.15 30.5223 32.05 30.8334C31.95 31.1445 31.7778 31.4223 31.5333 31.6667L25.8333 37.4L23 30.8L17.3333 25.1334L10.7333 22.3L16.4667 16.6C16.7111 16.3556 16.9889 16.1834 17.3 16.0834C17.6111 15.9834 17.9333 15.9667 18.2667 16.0334L21.9333 16.7667C21.9556 16.7445 21.9778 16.7278 22 16.7167C22.0222 16.7056 22.0444 16.6889 22.0667 16.6667C24.2667 14.4667 26.6111 12.8834 29.1 11.9167C31.5889 10.95 34.3444 10.5667 37.3667 10.7667ZM12.9667 29.1667C13.7444 28.3889 14.6944 27.9945 15.8167 27.9834C16.9389 27.9723 17.8889 28.3556 18.6667 29.1334C19.4444 29.9111 19.8278 30.8611 19.8167 31.9834C19.8056 33.1056 19.4111 34.0556 18.6333 34.8334C18.0556 35.4111 17.1611 35.8889 15.95 36.2667C14.7389 36.6445 12.9222 37 10.5 37.3334C10.8333 34.9111 11.1833 33.0889 11.55 31.8667C11.9167 30.6445 12.3889 29.7445 12.9667 29.1667ZM14.3667 30.6C14.0556 30.9334 13.7778 31.4556 13.5333 32.1667C13.2889 32.8778 13.0778 33.7889 12.9 34.9C14.0111 34.7223 14.9222 34.5111 15.6333 34.2667C16.3444 34.0223 16.8667 33.7445 17.2 33.4334C17.6222 33.0556 17.8389 32.5834 17.85 32.0167C17.8611 31.45 17.6667 30.9556 17.2667 30.5334C16.8444 30.1334 16.35 29.9389 15.7833 29.95C15.2167 29.9611 14.7444 30.1778 14.3667 30.6Z' fill='%237EB101' /></svg>");
            width: 48px;
            height: 48px;
            display: inline-block;
            margin-bottom: 8px;


        }

        &--order::before {
            content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='48' width='48'><circle cx='24' cy='24' r='24' fill='white' /><path fill='%237EB101' d='M23.5 9.333c2.023 0 3.75.706 5.184 2.117 1.433 1.411 2.15 3.128 2.15 5.15 0 1.155-.25 2.244-.75 3.267a7.368 7.368 0 0 1-2.117 2.6h-1.133V20.8a5.149 5.149 0 0 0 1.483-1.867 5.42 5.42 0 0 0 .517-2.333c0-1.467-.523-2.711-1.567-3.733-1.044-1.023-2.3-1.534-3.767-1.534-1.466 0-2.722.511-3.766 1.534-1.045 1.022-1.567 2.266-1.567 3.733 0 .822.172 1.6.517 2.333a5.149 5.149 0 0 0 1.483 1.867v2.4a7.25 7.25 0 0 1-2.933-2.733 7.342 7.342 0 0 1-1.067-3.867c0-2.022.717-3.739 2.15-5.15 1.433-1.411 3.161-2.117 5.183-2.117Zm-1.266 28c-.378 0-.734-.072-1.067-.216a2.766 2.766 0 0 1-.867-.584l-6.866-6.866 1.866-1.934c.311-.31.661-.55 1.05-.716a1.827 1.827 0 0 1 1.217-.084l2.6.6V16.667c0-.934.322-1.723.967-2.367.644-.645 1.433-.967 2.366-.967.934 0 1.723.322 2.367.967.644.644.967 1.433.967 2.367V22.4h.866c.111 0 .211.022.3.067.09.044.19.088.3.133l4.934 2.4c.533.244.927.639 1.183 1.183.255.545.328 1.106.217 1.684l-1.2 7.266a2.518 2.518 0 0 1-.934 1.584 2.692 2.692 0 0 1-1.733.616h-8.533Zm-.267-2h9.367l1.433-8.3-6.1-3.033h-1.833v-7.333c0-.4-.123-.723-.367-.967s-.567-.367-.967-.367-.722.123-.966.367c-.245.244-.367.567-.367.967v13.3l-5.133-1.1-.767.766 5.7 5.7Zm9.367 0h-9.367 9.367Z' /></svg>");
            width: 48px;
            height: 48px;
            display: inline-block;
            margin-bottom: 8px;
        }
    }

    &__info {
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        color: $font-color;
    }

    &__text {
        width: 100%;
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.14;
        color: $font-color;
    }


}

.offerings-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;

    @include breakpoint(mobile) {
        width: 280px;

    }

    &__link {
        // font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 150%;
        color: #000000;
        display: flex;
        align-items: center;
        margin: 0 0 0 24px;

        @include breakpoint(desktop) {
            display: none;

        }

    }

    &__svg {
        margin-left: 4px;
        fill: currentColor;
        transition: (fill) 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .offerings-btn__link:hover &,
        .offerings-btn__link:active & {
            fill: #7EB101;
        }

    }
}